.convBox {
  background-color: #555555;
  border: 1px solid rgba(30, 30, 30, 0.2);
  /* max-height: 100vh !important; */
  position: relative;
}

.listHeader {
  font-size: 1.7rem;
  color: #eee;
  background-color: #6c698d;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  width: 100% !important;
  height: 4rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

::placeholder {
  color: #AAA;
}

.roomSearch {
  width: 100%;
  /* height: 100%; */
  font-size: 1rem;
  font-weight: 300;
  color: #ddd;
  background-color: rgb(97, 94, 128);
  padding: 0.4rem 0.8rem;
  margin: 1rem 0.6rem !important;
  border: 0.06rem solid #373c45 !important;
  border-radius: 5px;
}

.roomSearch:focus {
  outline: none !important;
}

.listGroup {
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
  background-color: #232526 !important;
  color: #eee !important;
  border: none !important;
  text-align: left !important;
  cursor: pointer;
}

.listGroupItem {
  background-color: #232526 !important;
  border-bottom: 5px solid #232526 !important;
}

.listGroupItem:hover {
  border-bottom: 5px solid #373c45 !important;
  background-color: #2d2d2d !important;
  transition: background-color 0.1s ease-in-out;
}

.heightSet {
  height: 100vh !important;
  max-height: 100vh !important;
}

.chatPanel {
  background-color: #343434;
}

.chatHeader {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background-color: #6c698d;
  color: #eee;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  height: 4.01rem !important;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
}

.chatIconDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc( 100vh - 4.01rem );
  flex-direction: column;
}
.chatIcon{
  height: 30vh;
}

.idleText{
  font-size: 0.9rem;
  color: #ddd;
  padding: 0.5rem  0;
  font-weight: 400;
}

.chatdivWrapper {
  max-height: 60vh !important;
  overflow-y: scroll !important;
  padding-bottom: 2rem;
}

.chatDiv {
  display: flex;
  flex-direction: column;
  background-color: #343434;
  /* background-color: red; */
}

.chatFooter {
  position: absolute;
  margin-bottom: 0.3rem;
  bottom: 0%;
  /* left: 30%;
  right:30%; */
  width: 100%;
  color: #eee;
}

.footerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem !important;
}

.A {
  border-radius: 50%;
  width: 4%;
  padding-top: 4%;
  position: relative;
  margin: 0.4rem 0.4rem;
  background-color: #6c698d;
  border: none !important;
}

.goRound:hover {
  background-color: rgb(109, 107, 134);
  opacity: 0.7;
}

.goRound:focus {
  background-color: rgb(109, 107, 134);
  opacity: 0.7;
  border: none !important;
}

.btnText {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.goaRound {
  background-color: transparent;
  border: none;
  border-radius: none;
  z-index: 200;
}

.goaRound:focus {
  border: none;
  outline: none;
}

.faso {
  border-radius: 50%;
  background-color: #6c698d;
  font-size: 1rem;
  padding: 0.6rem;
  color: #eee;
  margin-right: 0 !important;
}

.faso:hover {
  background-color: rgb(109, 107, 134);
  opacity: 0.7;
}

.faso:focus {
  background-color: rgb(109, 107, 134);
  opacity: 0.7;
  border: none !important;
}

.RowR {
  width: 100%;
  text-align: right;
}

.RowL {
  width: 100%;
  text-align: left;
}

.byYou {
  display: inline-block;
  position: relative;
  color: #ddd;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  background-color: rgba(146, 0, 209, 0.45);
  text-align: left;
  padding: 1.1rem 1.2rem 0.7rem 1.2rem;
  margin: 0.6rem 0.7rem;
  max-width: 70%;
  padding-right: 0.5rem;
}

.byFriend {
  background-color: rgba(111, 0, 255, 0.45);
  border-radius: 10px;
  border-bottom-left-radius: 0;
}

.date {
  position: relative;
  color: #aaa;
  font-size: 0.6rem;
  top: 0.6rem;
  z-index: 200;
}



.dropdown-menu {
  z-index: 300;
  /* background-color: #222; */
}

.dropdown-toggle::after {
  content: none !important;
}

.name {
  position: relative;
  bottom: 0.2rem;
}

.userName {
  font-size: 0.7rem;
  color: #bbb;
  position: absolute;
  top: 0.3rem;
  left: 0.5rem;
  font-weight: 700;
  /* letter-spacing: 0.05rem; */
}

#dropdown-right__BV_toggle_ {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  border-radius: 50%;
  outline: none;
  padding: 0;
}

#dropdown-right__BV_toggle_:focus {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.typing {
  width: 8rem;
  font-size: 0.6em;
  color: #ccc;
  position: absolute;
  top: 1.7rem;
  left: 0.1rem;
}
